<div class="search" id="search">
    <h3 class="search-title">Search Results</h3>

    <ul id="searchlist">
      <li><a class="tags" href="./first_subs.html">First Year</a></li>
      <li><a class="tags" href="../secondYear/second_year.html">Second Year</a></li>
      <li><a class="tags" href="../thirdYear/third_year.html">Third Year</a></li>
      <li><a class="tags" href="../fourthYear/fourth_year.html">Fourth Year</a></li>
      <li><a class="tags" href="./first_subs_phy.html">Physics Cycle</a></li>
      <li><a class="tags" href="./first_subs_chem.html">Chemistry Cycle</a></li>
      <li><a class="tags" href="./phy.html">Physics</a></li>
      <li><a class="tags" href="./chem.html">Chemistry</a></li>
      <li><a class="tags" href="./bee.html">Basic Electrical Engineering</a></li>
      <li><a class="tags" href="./cps.html">C Programming</a></li>
      <li><a class="tags" href="../secondYear/mces.html">Microcontroller and Embedded Systems</a></li>
      <li><a class="tags" href="../secondYear/daa.html">Design and Analysis of Algorithms</a></li>
      <li><a class="tags" href="../secondYear/ade.html">Analog and Digital Electronics</a></li>
      <li><a class="tags" href="../secondYear/ds.html">Data Structures</a></li>
      <li><a class="tags" href="../thirdYear/dbms.html">Database Management System</a></li>
      <li><a class="tags" href="../thirdYear/cns.html">Computer Network and Security</a></li>
      <li><a class="tags" href="../thirdYear/fs.html">File Structures</a></li>
      <li><a class="tags" href="../thirdYear/st.html">Software Testing</a></li>
      <li><a class="tags" href="../thirdYear/mad.html">Mobile Application Development</a></li>
    </ul>
  </div>